<%= turbo_frame_tag 'post' do %>
  <div class="w-11/12 lg:w-3/5 2xl:w-1/2 mx-auto pt-4 flex flex-col gap-2">
    <span class='hidden md:block'>
      <%= link_to "Back", blog_path, class: "block mb-1 rounded-sm py-2 mt-3 px-4 bg-red-500 text-white hover:bg-red-600 inline-block font-medium", data: {turbo: false} %>
    </span> 
    
    <div class="rounded overflow-hidden shadow-md bg-white">
      <%= image_tag @post.header_image, class: "w-full h-96 rounded-t object-cover" %>
    <div class="px-6 mt-4">
      <div class="font-bold text-2xl mb-2">
        <%= @post.title %>
      </div>
      <ul class="flex flex-col">
        <!-- Content goes here -->
        <% @post.post_elements.each do |element| %>
          <%= render 'post_element', post_element: element %>
          <br>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>