<div class="container mx-8 my-12">
  <div class="flex justify-between items-center mb-4 mx-4">
    <%= link_to "Back", root_path, class: "block mb-1 rounded-sm py-2 md:mt-3 px-4 bg-red-500 text-white hover:bg-red-600 inline-block font-medium", data: {turbo: false} %>
    <h1 class="font-bold text-4xl">Posts</h1>
    <%= link_to "New post", new_post_path, class: "rounded-lg py-3 px-5 bg-blue-600 hover:bg-blue-700 text-white block font-medium" %>
  </div>
  
  <% @posts.each do |post| %>
    <%= link_to entry_path(post) do %>
      <div class="mb-3">
        <div class="md:flex-row md:gap-4 items-center flex flex-col p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
          <span class="col-span-1">
            <% if post.header_image.persisted? %>
              <div class="mb-4 md:mb-0 md:mr-4 rounded bg-cover bg-center max-w-sm lg:w-3/5 h-48 overflow-hidden flex justify-center items-center">
                <%= image_tag post.header_image %>
                </div>
            <% end %>
          </span>
  
          <span class="col-span-4">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
              <%=post.title%>
              </h5>
            <p class="font-normal text-gray-700 ">
              <%=post.description%>
            </p>
          </span>
  
  
        </div>
      </div>
    <% end %>
  <% end %>
</div>
