<% turbo_frame_tag "admin_panel" do %>
    <div class="overflow-x">
        <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Name
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Status
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Role
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Update
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Delete
                </th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <% users.each do |user| %>
                    <%= form_with model: user, remote: true do |f| %>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="flex items-center">
                                    <div class="ml-4">
                                        <div class="text-sm font-medium text-gray-900">
                                        Jane Cooper
                                        </div>
                                        <div class="text-sm text-gray-500">
                                            <%= user.email %>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                Active
                                </span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                <%= f.select :role, options_for_select(available_roles_for_user(current_user).map { |role| [role.humanize, role] }, user.role), {}, class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <%=f.submit "Update", class: "px-4 py-2 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500", data: {turbo_confirm: "Are you sure?"} %>
                            </td>
                            <% end %>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <%= button_to "Delete User", user, class: "ocus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900", method: :delete,  data: {turbo_confirm: "Are you sure?" } %>
                            </td>
                        </tr>
                <%end%>
            </tbody>
        </table>
    </div>
<%end%>