<div class="px-2 lg:px-4 h-full flex w-full justify-center items-center">
    <div class="dark:bg-gray-100 dark:text-gray-900">
	<div class="container grid grid-cols-12 mx-auto">
		<div class="flex flex-col justify-center col-span-12 align-middle dark:bg-gray-300 bg-no-repeat bg-cover lg:col-span-6 lg:h-auto" style="background-image: url('<%= url_for(@display_post.header_image) %>'); background-position: center center; background-blend-mode: multiply; background-size: cover;">
            <div class="flex flex-col items-center p-8 py-12 text-center dark:text-gray-800">
                <%= link_to post_path(@display_post), class: "" do %>
                    <div class="rounded-lg bg-gray-200 p-4 opacity-75 hover:opacity-85"> <!-- Added wrapper div with rounded-lg and bg-gray-200 -->
                        <span>12 June</span>
                        <h1 class="py-4 text-5xl font-bold"><%= @display_post.title %></h1>
                        <p class="pb-6"><%= @display_post.description %></p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-7 h-7">
                            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                <% end %>
			</div>
		</div>
		<div class="flex flex-col col-span-12 p-6 divide-y lg:col-span-6 lg:p-10 dark:divide-gray-300">
            <% @posts.each_with_index do |post, idx| %>
                <%= render "post_card", post: post %>
            <% end %>
		</div>
	</div>
</div>
</div>
