<%= turbo_frame_tag 'post' do %>
  <div class="mx-auto 4xl:w-3/4 w-full">

    <div class="flex flex-col md:grid md:grid-cols-3 gap-2">
      <span class="md:col-span-1">
        <%= link_to "Back", posts_path, class: "block mb-1 rounded-sm py-2 md:mt-3 px-4 bg-red-500 text-white hover:bg-red-600 inline-block font-medium", data: {turbo: false} %>
        <!-- Form for editing the post -->
        <div>
          <%= render "form", post: @post %>
          <% if @post.published? %>
            <%= link_to 'Unpublish',
                unpublish_post_path(@post),
                method: :post,
                remote: true,
                class: "block mx-1 text-center bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-sm"%>
          <% else %>
            <%= link_to 'Publish',
                publish_post_path(@post),
                method: :post,
                remote: true,
                class: "block mx-1 text-center bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-sm"%>
          <% end %>
        </div>
      </span>


      <!-- Form for creating a PostElement -->
      <span class="mx-1 md:mx-px flex-grow md:col-span-2">
        <span class="flex items-center gap-2">
          <%= form_with(model: [ @post, @element ],  class: "mb-2") do |form| %>
            <%= form.hidden_field :element_type, value: 'paragraph' %>
            <%= button_tag(type: "submit", class: "font-bold text-2xl block rounded-sm py-2 px-4 bg-slate-600 hover:bg-slate-700 text-white font-small cursor-pointer") do %>
              <i class="fa-solid fa-paragraph"></i> 
            <% end %>
          <% end %>
          <%= form_with(model: [ @post, @element ],  class: "mb-2") do |form| %>
            <%= form.hidden_field :element_type, value: 'image' %>
            <%= button_tag(type: "submit", class: "font-bold text-2xl block rounded-sm py-2 px-4 bg-slate-600 hover:bg-slate-700 text-white font-medium cursor-pointer") do %>  
                <i class="fa-solid fa-camera-alt"></i>
            <% end %>
          <% end %>
        </span>

        <!--Rendering Each Post Element -->
        <div class="flex-grow mx-auto bg-white rounded-sm overflow-hidden shadow-md">
          
          <% if @post.published? %>
            <div class="bg-gray-200 p-4 border-b border-gray-300 text-right">
              Published <%= time_ago_in_words(@post.published_at) %> ago.
            </div>
          <% end %>

          <ul class="p-4 pt-6" data-controller="drag" data-drag-url="/posts/post_elements/:id/move">
            <% @post.post_elements.each do |element| %>
              <% if element.persisted? %>
                <%= render partial: 'authors/post_elements/post_element', locals: { post_element: element } %>
              <% end %>
            <% end %>
          </ul>
        </div>

      </span>
    </div>

  </div>
<% end %>