<div class="mx-auto xl:w-2/3 w-full">
  <%= link_to "Back", posts_path, class: "mb-2 rounded-lg py-3 px-5 bg-red-500 text-white hover:bg-red-600 inline-block font-medium" %>

  <div class="grid grid-cols-3 gap-2">
    <%= render "form", post: @post %>
    <%= form_with(model: [ @post, @paragraph ]) do |form| %>
      <%= form.hidden_field :element_type, value: 'paragraph'%>
      <%=form.submit 'Paragraph'%>
    <% end %>
  </div>

</div>
