<%= form_with(model: post, html: { class: "bg-white border shadow-md rounded-sm pb-8 mb-4 overflow-hidden" }) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="m-4 bg-red-50 text-red-500 px-4 py-2 font-medium rounded-lg mt-3 mb-6">
      <h2 class="font-bold text-lg"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul class="list-disc mt-1 px-4">
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if action_name == "edit" %>
  <% end %>

  <div class="my-2 px-8">
    <%= form.label :title, class: "block text-lg font-medium text-gray-700" %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-black outline-none p-2 mt-2 w-full" %>
  </div>

  <div class="my-2 px-8">
    <%= form.label :description, class: "block text-lg font-medium text-gray-700" %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-black outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-2 px-8 overflow-hidden">
    <%= form.label :header_image, class: "block text-lg font-medium text-gray-700" %>
    <%= form.file_field :header_image, class: "py-2 mt-2 w-full" %>
    <% if post.header_image.present? %>
      <%= image_tag post.header_image, class: "max-w-full shadow-md max-h-32 w-auto mt-2" %>
    <% end %>
  </div>

  <div class="px-8">
    <%= form.submit 'Save Post', class: "w-full block rounded-sm py-2 px-4 bg-blue-600 hover:bg-blue-700 text-white font-medium cursor-pointer" %>
  </div>
  <%#= button_to post_path, post, data: {turbo_method: :delete} %>
<% end %>
