<!-- app/views/images/_form.html.erb -->
<div class="flex flex-col items-center justify-center">
  <%= form_with(model: @image, local: true, class: "w-full max-w-lg bg-white p-8 rounded shadow-md") do |form| %>
    <div class="mb-4">
      <%= form.label :title, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :image, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.file_field :image, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <%= form.submit "Upload", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  <% end %>
</div>
